GEMINI_API_KEY=AI----
GEMINI_MODEL=gemini-3-flash-preview
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

PG_HOST=localhost
PG_PORT=54345
PG_USER=evermemos
PG_PASSWORD=evermemos
PG_DB=evermemos

QDRANT_HOST=localhost
QDRANT_PORT=6333

SCENE_SIMILARITY_THRESHOLD=0.75
